<nav class="top-bar fixed">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Emerging Market Consulting", root_url %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Nav1" %></li>
      <li><%= link_to "Nav2" %></li>
      <li><%= link_to "Nav3" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Sign up" %></li>
      <li><%= link_to "Login" %></li>
    </ul>
  </section>
</nav>